<template>
	<div class="container">
		<h1>Pomogę osiągnąć Ci wymarzoną sylwetkę i doskonałe samopoczucie!</h1>
		<h2>Wybierz pakiet dla siebie</h2>
		<div class="offer_boxes">
			<div class="row">
				<div class="col-md-4 offer_box">
					<div class="offer_time">
						<h3>1 miesiąc współpracy online</h3>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Dieta</h4>
						</div>
						<span class="price">
							<span class="price_number">60</span>
							<span class="price_currency">£ / miesiąc</span>
						</span>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Dieta w chorobie</h4>
						</div>
						<span class="price">
							<span class="price_number">70</span>
							<span class="price_currency">£ / miesiąc</span>
						</span>
					</div>
				</div>
				<div class="col-md-4 offer_box">
					<div class="offer_time">
						<h3>3 miesiące współpracy online</h3>
					</div>
					<div class="offer_type_price">
						<h4>Dieta</h4>
						<span class="price">
							<span class="price_number">150</span>
							<span class="price_currency">50 £ / miesiąc</span>
						</span>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Dieta w chorobie</h4>
						</div>
						<span class="price">
							<span class="price_number">180</span>
							<span class="price_currency">60 £ / miesiąc</span>
						</span>
					</div>
				</div>
				<div class="col-md-4 offer_box">
					<div class="offer_time">
						<h3>6 miesiący współpracy online</h3>
					</div>
					<div class="offer_type_price">
						<h4>Dieta</h4>
						<span class="price">
							<span class="price_number">240</span>
							<span class="price_currency">40 £ / miesiąc</span>
						</span>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Dieta w chorobie</h4>
						</div>
						<span class="price">
							<span class="price_number">300</span>
							<span class="price_currency">50 £ / miesiąc</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="offer_list">
						<p>Indywidualne dopasowanie diety na 7 dni (szczególy diety ustalimy podczas wstępnego wywiadu dietetycznego)</p>
						<ul>
							<li>przepisy do każdego posiłku uwzględniając czas przygotowania oraz kaloryczność</li>
							<li>cenne wskazówki, komentarze dotyczące konkretnych produktów, techniki obróbki kulinarnej itp.</li>
							<li>lista zakupów</li>
							<li>modyfikacje posiłków, składników w trakcie diety</li>
							<li>jadłospis w aplikacji lub w wersji papierowej</li>
						</ul>
						<p>Kontrola postępów</p>
						<ul>
							<li>podsumuwujący wywiad dietetyczny co 7 dni</li>
							<li>stały kontakt przez cały okres diety (messenger lub e-mail)</li>
						</ul>
					</div>
					<div class="diets_discription">
						<p>UWAGA!</p>
						<p>Przy diecie odchudzającej domowy 7-dniowy plan treningowy na redukcję tkanki tłuszczowej - GRATIS!</p>
					</div>
					<div class="offer_boxes">
			<div class="row">
				<div class="col-md-4 offer_box">
					<div class="offer_time">
						<h3>Miesięczny plan treningowy</h3>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Plan treningowy</h4>
						</div>
						<span class="price">
							<span class="price_number">60</span>
							<span class="price_currency">£ / miesiąc</span>
						</span>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Plan + dieta</h4>
						</div>
						<span class="price">
							<span class="price_number">100</span>
							<span class="price_currency">£ / miesiąc</span>
						</span>
					</div>
				</div>
				<div class="col-md-4 offer_box">
					<div class="offer_time">
						<h3>3 miesięczny plan treningowy</h3>
					</div>
					<div class="offer_type_price">
						<h4>Plan treningowy</h4>
						<span class="price">
							<span class="price_number">120</span>
							<span class="price_currency">40 £ / miesiąc</span>
						</span>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Plan + dieta</h4>
						</div>
						<span class="price">
							<span class="price_number">240</span>
							<span class="price_currency">83 £ / miesiąc</span>
						</span>
					</div>
				</div>
				<div class="col-md-4 offer_box">
					<div class="offer_time">
						<h3>6 miesięczny plan treningowy</h3>
					</div>
					<div class="offer_type_price">
						<h4>Plan treningowy</h4>
						<span class="price">
							<span class="price_number">240</span>
							<span class="price_currency">40 £ / miesiąc</span>
						</span>
					</div>
					<div class="offer_price">
						<div class="offer_type_price">
							<h4>Plan + dieta</h4>
						</div>
						<span class="price">
							<span class="price_number">400</span>
							<span class="price_currency">67 £ / miesiąc</span>
						</span>
					</div>
				</div>
				<div class="col-md-12">
			<div class="offer_list">
						<ul>
							<li>7 dniowy plan treningowy dopasowany do Twojego celu treningowego</li>
						</ul>
						<p>Kontrola postępów</p>
						<ul>
							<li>raport co 7 dni</li>
							<li>stały kontakt przez cały okres diety (messenger lub e-mail)</li>
						</ul>
					</div>
					<div class="diets_discription">
						<p>UWAGA!</p>
						<p>Przy diecie odchudzającej domowy 7-dniowy plan treningowy na redukcję tkanki tłuszczowej - GRATIS!</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</template>
	
<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';

.container {
	h1 {
		text-align: center;
		margin: 75px 0;
	}
	h2 {
		text-align: center;
		margin-bottom: 50px;
	}
}

.offer_boxes {
	h2 {
		margin-bottom: 50px;
	}
}

.offer_type_price {
	h4 {
		margin: 0;
		color: orange;
	}
}

.price {
	.price_number {
		font-size: 50px;
		font-weight: bold;
	}
	.price_currency {
		font-weight: bold;
	}
}

.offer_list {
	font-size: 20px;
	margin-top: 75px;
}

.diets_discription {
		text-align: center;
	font-weight: bold;
}


</style>