<template>
 <div class="container">
	 <div class="slimming">
     <div class="col-md-12 slimming_image">
         <img src="~/assets/images/odchudzająca2.jpg" class="img-fluid">
     </div>
     <div class="slimming_header">
        <h2>DIETA ODCHUDZAJĄCA</h2>
     </div>
     	<div class="slimming_text">
        <p>Jak wytrwać jedząc mniej? Tym nie musisz się martwić. Kluczem do sukcesu jest
					odpowiednio zbilansowana dieta, posiłki w regularnych odstępach czasowych oraz dobranie
					właściwych produktów, które będą sprawiły uczucie nasycenia.
					Jesteś osobą zabieganą? Nic się nie martw. Posiłki dopasuję do Twoich preferencji i stylu
					życia.
				</p>
				<p>		
					By osiągnąć lepsze i szybsze rezultaty, dodatkowo w ramach ceny udostępnię Tobie
					tygodniowy plan treningowy wraz z filmikami instruktażowymi do konkretnych ćwiczeń.
				</p>
				<p>
					Nie bój się! Trening nie ma być ciężki tylko skuteczny. Nie trzeba robić wyczerpujących
					ćwiczeń, aby schudnąć. Dieta jest głównym czynnikiem do utraty wagi. Dodatkowa
					aktywność fizyczna ma usprawnić proces odchudzania.
				</p>
     </div>
		 <div class="col-md-12 progress_text">
			<h4>Dieta odpowiada za 70% sukcesu! Regularne ćwiczenia to 30%.</h4>
		</div>
	<div class="progress">
  	<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
  	<div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
	</div>
	<div class="diet_motto">
		<h4>Dieta i ruch są drogą do zdrowego stylu życia. Zyskaj nie tylko wygląd, lecz także lepsze
				samopoczucie.
		</h4>
		<h4>NAPISZ DO MNIE I OMÓWIMY SZCZEGÓŁY!
		</h4>
	</div>
	<div class="slimming_header">
        <h2>DODATKOWO ODE MNIE:</h2>
     </div>
	<div class="row">
		<div class="col-md-5 box_one">
			<p>PLAN TRENINGOWY NA CAŁY TYDZIEŃ</p>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5 box_two">
			<p>PRZEWODNIK ZDROWEGO ŻYWIENIA</p>
		</div>
	</div>
	 </div>
	 <div class="button">
		 <button>SPRAWDŻ PRZEPISY!</button>
	 </div>
	 <div class="active">
     <div class="col-md-12 active_image">
         <img src="~/assets/images/active.jpg" class="img-fluid">
     </div>
     <div class="active_header">
        <h2>DIETA DLA AKTYWNYCH FIZYCZNIE</h2>
     </div>
     	<div class="active_text">
        <p>Aby przetrwać wyczerpujące treningi należy zaopatrzyć swój organizm w
odpowiednie paliwo. Prawidłowa ilość węglowodanów, białka i tłuszczów jest
bardzo ważna, jeśli chcemy mieć energię. Żyjemy w czasach zabieganych.
Niektórzy poza sportem na co dzień zajmują się innymi obowiązkami tj. rodzina
czy inna praca. W takiej sytuacji ciężko jest wkomponować nam każdego dnia
właściwą dietę. Korzystając z pomocy specjalisty do spraw żywności możesz
zaoszczędzić czas, skupić się na sukcesach zawodowych i być spokojnym, że
Twoje ciało zawsze będzie w pełni przygotowane na ciężkie treningi. Twoim
kluczem do sukcesu jest odpowiednia gramatura posiłków, stosowne ich pory i
wartościowe produkty do szybkiej regeneracji!
				</p>
				
     </div>
		 <div class="col-md-12 progress_text">
			<h4>Dieta odpowiada za 70% sukcesu! Regularne ćwiczenia to 30%.</h4>
		</div>
	<div class="progress">
  	<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
  	<div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
	</div>
	<div class="active_diet_motto">
		<h4>Sukces to suma niewielkiego wysiłku powtarzanego z dnia na dzień.
		</h4>
		<h4>NAPISZ DO MNIE I OMÓWIMY SZCZEGÓŁY!
		</h4>
	</div>
	 </div>
	 <div class="active-button">
		 <button>SPRAWDŻ PRZEPISY!</button>
	 </div>
	 <div class="pragnant">
     <div class="col-md-12 pragnant_image">
         <img src="~/assets/images/pragnant.jpg" class="img-fluid">
     </div>
     <div class="pragnant_header">
        <h2>DIETA DLA KOBIET W CIĄŻY I KARMIĄCYCH</h2>
     </div>
     	<div class="pragnant_text">
        	<p>Podczas ciąży rośnie zapotrzebowanie na substraty pokarmowe. W czasie karmienia piersią
		popyt ten jest o wiele większy. Płód jest mocno związany ze składnikami odżywczymi i
		energetycznymi pobieranymi z krwiobiegu matki. Z kolei żywienie noworodka jest związane
		ze substancjami znajdującymi się w mleku matki. Nieodpowiednie odżywianie w trakcie
		ciąży może negatywnie wpływać na jej rozwój, a także spowodować wiele powikłań m.in.:
			</p>
			<ul>
				<li>poronienia</li>
				<li>poród przedwczesny</li>
				<li>zaśniad groniasty - nieprawidłowe zapłodnienie komórki jajowej</li>
				<li>niedobór kwasu foliowego - niedokrwistosc płodu, pierwotne wady cewy nerwowej</li>
				<li>niedobór jodu - kretynizm</li>
				<li>niedobór żelaza - niedokrwistość</li>
				<li>niedobór witaminy D i wapnia - krzywica</li>

			</ul>
			<p>
				Aby nie dopuścić do tych niepożądanych skutków, należy wdrożyć w tym okresie
odpowiednio zbilansowaną dietę, bogatą w odpowiednie składniki odżywcze, witaminy i
minerały.
			</p>	
     </div>
	<div class="diet_motto">
		<h4>Zadbaj o siebie i swoje dziecko od samego początku.
		</h4>
		<h4>NAPISZ DO MNIE I OMÓWIMY SZCZEGÓŁY!
		</h4>
	</div>
	 </div>
	 <div class="pragnant_button">
		 <button>SPRAWDŻ PRZEPISY!</button>
	 </div>
 </div>
</template>
	
<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';

.slimming_header {
    text-align: center;
    margin: 60px 0;
}

.progress_text {
	margin-top: 75px;
}

.diet_motto {
	margin-top: 50px;
	text-align: center;
}

.box_one {
	background: #FE8543;
	margin-bottom: 100px;
	border-radius: 100px;
	p {
		text-align: center;
		margin: 50px 0;
		color:white;
		font-size: 30px;
	}
}


.box_two {
	background: #FE8543;
	margin-bottom: 100px;
	border-radius: 100px;
	
	p {
		text-align: center;
		margin: 50px 0;
		color:white;
		font-size: 30px;
	}
}

.button {
	button {
		padding: 15px;
		border: none;
    	height: 50px;
    	border-radius: 25px;
    	font-weight: bold;
		&:hover {
			background: #FE8543;
			color: white;
		}
	}
	
}

.active {
	margin-top: 75px;;
}

.active_header {
    text-align: center;
    margin: 50px 0;
}

.active_diet_motto {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 100px;
}

.active-button {
	button {
	border: none;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
		&:hover {
			background: #FE8543;
			color: white;
		}
	}
	
}

.pragnant {
	margin-top: 75px;;
}

.pragnant_header {
    text-align: center;
    margin: 50px 0;
}

.pragnant_diet_motto {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 100px;
}

.pragnant_button {
	margin-top: 30px;
	margin-bottom: 75px;
	button {
	border: none;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
		&:hover {
			background: #FE8543;
			color: white;
		}
	}
	
}




</style>