$green: #a7d433;

@mixin btn {
  background: #fff;
  color: $green;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: darken($green, 10%);
    color: #fff;
  }
}
