<template>
  <div class="container">
	  <div class="col-md-12 cooperation_content">
		<h2>JAK WYGLĄDA WSPÓŁPRACA?</h2>
	</div>
	<div class="box-container">
		<div class="row">
				<div class="col-md-3 box_one">
					<div class="box_header">
						<h4>KROK 1</h4>
					</div>
					<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
  						<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  						<path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>SKONTAKTUJ SIĘ</p>
					</div>
				</div>
				<div class="col-md-3 box_two">
					<div class="box_header">
						<h4>KROK 2</h4>
					</div>
						<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  						<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>WYBIERZ DIETĘ</p>
					</div>
				</div>
				<div class="col-md-3 box_tree">
					<div class="box_header">
						<h4>KROK 3</h4>
					</div>
					<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
  						<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  						<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>STOSUJ JĄ</p>
					</div>
				</div>
				<div class="col-md-3 box_four">
					<div class="box_header">
						<h4>KROK 4</h4>
					</div>
					<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
  						<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  						<path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>CIESZ SIĘ ZDROWIEM</p>
					</div>
				</div>
		</div>
	</div>
		
			<div class="contact_header">
				<h2>SKONTAKTUJ SIĘ ZE MNĄ!</h2>
			</div>
			<div class="row">
			<div class="col-md-6 contact_type">
				<h3>Marta Gąsiorowska</h3>
					<div class="col-md-12">
						<div class="contact_svg">
							<span>
	
							<a href="tel:1-562-867-5309">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
								<span>+44 700258985</span>
							</a>
							</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="contact_svg">
							<a href="mailto:adres e-mail">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  							<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
								</svg>
								<span>marta93gasiorowska@wp.pl</span>
							</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="contact_svg">
							<a href="https://www.facebook.com/messages/t/100003534104788"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  							<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
								</svg>
								<span>Marta Gąsiorowska dietetyk on-line</span>
							</a>
						</div>
					</div>

			</div>
		
		<div class="col-md-6">
			<form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputName4">Imię</label>
                <input type="name" class="form-control" id="inputName4">
              </div> 
            <div class="form-group col-md-8">
              <label for="inputRmail4">Email</label>
              <input type="Email" class="form-control" id="inputEmail4">
            </div>
						</div>
            <div class="form-row">
            </div>
            <div class="form-group">
              <label for="comment">Wiadomość</label>
              <textarea class="form-control" rows="7" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
          </form>
		</div>
		</div>
		<div class="contact_form">
			<div class="col-md-12 contact_header">
				<h2>LUB WYPEŁNIJ FORMULARZ SZCZEGÓŁOWY!</h2>
			</div>
			<div class="row">
				<div class="col-md-12 right_side">
					<form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName4">Imię</label>
                <input type="name" class="form-control" id="inputName4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nazwisko</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-group">
              <label for="inputRmail4">Email</label>
              <input type="Email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="input">Płeć</label>
                <input type="text" class="form-control" id="input">
              </div>
              <div class="form-group col-md-1">
                <label for="inputAge">Wiek</label>
                <input type="text" class="form-control" id="inputAge">
              </div>
              <div class="form-group col-md-1">
                <label for="input">Wzrost</label>
                <input type="text" class="form-control" id="input">
              </div>
              <div class="form-group col-md-1">
                <label for="input">Waga</label>
                <input type="text" class="form-control" id="input">
              </div>
							<div class="form-group col-md-7">
                <label for="inputAge">Interesująca Cię oferta</label>
                <input type="text" class="form-control" id="inputAge">
              </div>
            </div>
            <div class="form-group">
              <label for="comment">Wiadomość</label>
              <textarea class="form-control" rows="7" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
          </form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';


.contact_header {
	margin: 75px 0 50px;
	text-align: center;
}

.contact_type {
	h3 {
		margin-bottom: 35px;
		font-weight: bolder;
		padding-left: 12px;
	}
}
.col-md-6 {
	button {
		margin: 0;
    box-shadow: 0 12px 24px 0 rgba(35,69,182,0.24);
	}
}

.col-md-2 {
	display: inline;		
}

.contact_svg {
	svg {
		fill: #FE8543;
		margin-right: 10px;
	}

	span {
		color: black;
		font-weight: bold;
	}
}
</style>