<template>
  <div>
    <Navigation />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
import Navigation from '~/components/blocks/Navigation.vue'
import Footer from '~/components/blocks/Footer.vue'

export default {
  components: { Navigation, Footer },
}
</script>
<style>
</style>
