<template>
  <div>
		<Diet />
  </div>
</template>

<script>
import Diet from '~/components/Diets/Diet.vue'

export default {
  components: { Diet },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/base';
</style>
