<template>
<div>
  <div>
    <Hero />
  </div>
  <div>
    <Cooperation />
  </div>
  <div>
    <Contact />
  </div>
  <div>
    <WeekRecipe />
  </div>
  <div>
  
  </div>
</div>
</template>

<script>
import Hero from '~/components/blocks/Hero.vue'
import Cooperation from '~/components/blocks/Cooperation.vue'
import Contact from '~/components/blocks/Contact.vue'
import WeekRecipe from '~/components/blocks/WeekRecipe.vue'

export default {
  components: { Hero, Cooperation, Contact, WeekRecipe },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/base';
</style>
