<template>
  <div>
		<Contact />
  </div>
</template>

<script>
import Contact from '~/components/Contact/Contact.vue'

export default {
  components: { Contact },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/base';
</style>
