<template>
  <div>
		<Offer />
  </div>
</template>

<script>
import Offer from '~/components/Offerts/Offer.vue'

export default {
  components: { Offer },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/base';
</style>
