<template>
 <div class="container">
  	<div class="row">
      <div class="col-md-6 about_photo">
        <img src="~/assets/images/profilowe.jpg" class="img-fluid">
      </div>
      <div class="col-md-6 about_header">
        <h1>Hej!</h1>
        <h1>Nazywam się Marta Gąsiorowska</h1>
        <h3>Chciałabym opowiedzieć Ci coś o sobie!</h3>
      </div>
    </div>
	<div class="col-md-12 about_me">
      	<p>Jestem dyplomowanym dietetykiem i trenerem personalnym. Układam jadłospisy w odchudzaniu, aktywności fizycznej oraz w konkretnych jednostkach chorobowych tj. otyłość, nadciśnienie tętnicze, wrzody żołądka i dwunastnicy, Hashimoto oraz zespół policystyczny jajników (PCOS). Jako trener rozpisuje plany treningowe dopasowane do Twoich celów i potrzeb.  Wciąż poszerzam wiedzę i umiejętności w swojej branży poprzez uczestnictwo w kursach i webinarach, aby móc pomóc Ci jak nejlepiej. Do tej pory moje jadłospisy pomagały moim bliskim, znajomym i innym potrzebującym pomocy w zmianie złych nawyków żywieniowych. Wśród tych osób, znalazły się też takie podobne do mnie tzn. odkryły zamiłowanie do gotowania. Chciałabym, pokrótce opowiedzieć Ci o sobie.</p>
  </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 about_header">
        <h1>Gotowanie</h1>
    	</div>
      <div class="col-md-4 about_photo">
        <img src="~/assets/images/ja.jpg" class="img-fluid">
      </div>
      <div class="col-md-2"></div>
    </div>
  <div class="col-md-12 coocking_discription">
    <p>Pasja do układania i przygotowywania posiłków pojawiła się u mnie bardzo późno.
Mieszkając z rodzicami zawsze miałam gotowy, smaczny i zdrowy posiłek. Wszystko
podane na zawołanie. Dopiero jak się przeprowadziłam trzeba było się ogarnąć i
zacząć gotować na własną rękę. Chcialam kontynuować zdrowe odżywianie, które
wyniosłam z domu. Na co dzień jestem osobą zabieganą. Zależało mi na posiłkach
szybkich w przygotowaniu (a najlepiej jednogarnkowych ). Wyszukiwałam proste
dania w internecie i gotowałam. I wtedy pojawiło się pierwsze zamiłowanie do gotowania. Pasja ta umocniła się, kiedy
sama przechodziłam dietę odchudzającą. Lubię urozmaicać posiłki. Na diecie
dokonywałam modyfikacji swoich posiłków. Praktycznie codziennie miałam inne
menu. Na co dzień w kuchni spędzam większość czasu. Miejsce to stało się moją oazą
spokoju i relaksu. Z czasem nie patrzyłam na trudność czy szybkość przygotowania
wyszukanej potrawy, lecz na jej ciekawość i wyobrażalny smak. A jeśli robisz już coś
z pasją to czas czy trudności jakie napotykasz na swojej drodze nie są dla Ciebie
przeszkodą. A może Twoją pasją jest również gotowanie?
		</p>
  </div>
    <div class="recipe_header">
			<h2>SPRÓBUJ MOJEJ KUCHNI Z PRZEPISEM TYGODNIA!</h2>
		</div>
		<div class="recipe_name">
			<h4>NAZWA DANIA</h4>
		</div>
		<div class="row">
			<div class="col-md-5 recipe_photo">
				<img src="~/assets/images/1.jpg" class = "img-responsive" width = "100%">
		</div>
			<div class="col-md-4 recipe_ingredients">
				<ul>
					<li>Woda gazowana (250ml)</li>
					<li>Mąka pszenna typu 500 (300g)</li>
					<li>2 jajka</li>
					<li>Szczypta soli</li>
					<li>Odrobina oliwy do podsmażenia</li>
					<li>Jagody (garść)</li>
					<li>Truskawki (3 sztuki)</li>
				</ul>
			</div>
			<div class="col-md-3 recipe_info">
				<div class="info">
					<h5>Trudność: 3/5</h5>
					<h5>Czas przygotowania: 45min</h5>
				</div>
				<div class="nutrients">
					<h5>Składniki odżywcze:</h5>
					<ul>
						<li>kcal: 470</li>
						<li>białko: 32</li>
						<li>węglowodany: 111</li>
						<li>węglowodany: 111</li>
						<li>węglowodany: 111</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 discription">
			<div class="recipe_name">
				<h4>OPIS PRZYGOTOWANIA</h4>
			</div>
			<div class="col-md-12 recipe_discription">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="sport_title">
    	<div class="row">
      	<div class="col-md-2"></div>
      	<div class="col-md-4 about_header">
        	<h1>Sport</h1>
      	</div>
      	<div class="col-md-4 about_photo">
        	<img src="~/assets/images/lina.jpg" class="img-fluid">
      	</div>
			</div>
			<div class="col-md-12 motivation_text">
		<h3>„Sukces to suma niewielkiego wysiłku powtarzanego z dnia na
dzień.”</h3>
<h3 class="motivation_autor"><i>Robert Collier</i></h3>
	</div>
		</div>
			<div class="row sport">
				<div class="col-md-4">
					<img src="~/assets/images/woda.jpg" class = "img-responsive" width = "100%">
				</div>
				<div class="col-md-4">
					<img src="~/assets/images/windsurfing.jpg" class = "img-responsive" width = "100%">
				</div>
				<div class="col-md-4 sport_discrtiption">
						<p>Zamiłowanie do gotowania pojawiło się z czasem, ale od dziecka lubiłam i
					lubię aktywność fizyczną. Miałam okazję trenować sztuki walki, pływać
					na windsurfingu oraz brać udział w licznych imprezach sportowych nie tylko, aby rywalizować z innymi, ale przede wszystkim po to by walczyć z własnymi słabościami i wyznaczać sobie nowe cele, których pokonywanie sprawia mi ogromną radość!</p>
				</div>
		</div>
		<div class="row sport">	
			<div class="col-md-6 sport_discrtiption">
				<p>Jak widzicie, z własnego doświadczenia wiem, jak ważne dla osób
					aktywnych fizycznie jest prawidłowe odżywianie. Dla sportowców
					odpowiednio dobrana dieta bez wątpienia ułatwia osiągnięcie sukcesów i coraz lepszych wyników
					co sprawia poczucie ogromnej satysfakcji. Nieważne czy trenujesz
					amatorsko czy zawodowo. Każdy organizm wymaga przy ciężkim treningu
					sporo energii i siły. Tylko dzięki dobrze zbilansowanej diecie przetrwasz
					mordercze treningi i dasz z siebie 100%!
				</p>
			</div>
			<div class="col-md-4"><img src="~/assets/images/ninja.jpg" class = "img-responsive" width = "100%"></div>
		</div>
		<div class="col-md-12 about_boxes">
	<div class="row about_row">
		<div class="col-md-12 about_box">
			<div class="wpb_text_column wpb_content_element"><div class="wpb_wrapper"><h2 style="text-align: center;"><span style="color: #A7D433;">DIETETYK</span></h2></div></div><div class="wpb_text_column wpb_content_element vc_custom_1591025000095"><div class="wpb_wrapper"><p style="text-align: center;">• Układam plany żywienia w odchudzaniu.<br> • Opracowuje jadłospisy dla osób aktywnych fizycznie.<br> • Rozplanowuje diety w konkretnych jednostkach chorobowych tj. otyłość, nadciśnienie tętnicze, wrzody żołądka i dwunastnicy, Hashimoto oraz zespół policystycznych jajników (PCOS).<br> • Pomagam zwiększyć motywację w utrzymywaniu diety oraz uczę zmieniać złe nawyki żywieniowe na dobre.</p></div></div>
		</div>
		<div class="col-md-12 about_box">
			<div class="wpb_text_column wpb_content_element"><div class="wpb_wrapper"><h2 style="text-align: center;"><span style="color: #A7D433;">TRENER PERSONALNY</span></h2></div></div><div class="wpb_text_column wpb_content_element vc_custom_1599812677788"><div class="wpb_wrapper"><p style="text-align: center;">• Przygotowuje odowiednie plany treningowe dopasowane do Twoich celów i potrzeb.<br> • Przekazuje wiedzę na temat prawidłowego podejścia do aktywności fizycznej!.</p></div></div>
		</div>
	</div>
	</div>
     <div class="col-md-12 about_header">
        <h3>Moje kwalifikacje</h3>
      </div>
        <div class="row">
          <div class="col-md-7 about_list">
            <h5>Dietetyka:</h5>
            <h6>2021r.</h6>
            <ul>
              <li>Dietetyka ogólna</li>
              <li>Dietetyka sportowa</li>
              <li>Certyfikat "Dieta matki krmiącej piersią. Fakty i mity"</li>
			  			<li>Certyfikat "Rozszerzanie diety niemowląt. Praktyczny punkt widzenia"</li>
              <li>Certyfikat "Dieta w chorobie Hashimoto. Co pomaga w świetle badań"</li>
              <li>Certyfikat "Żywienie i suplementacja w zespole policystycznych jajników"</li>
              <li>Certyfikat "Żywienie okołotreningowe"</li>
			  			<li>Certyfikat "Podstawy suplementacji w sporcie"</li>
			  			<li>Certyfikat "Dieta ketogeniczna od podstaw"</li>
            </ul>
              <h6>2020r.</h6>
                <ul>
                  <li>Podstawa psychodietetyki</li>
                  <li>Rola witamin oraz mikro i makroelementów w życiu człowieka</li>
                  <li>Suplementacja w sporcie i żywieniu</li>
                </ul>
          </div>
              <div class="col-md-4">
                <h5>Trener Personalny:</h5>
                <h6>2020r.</h6>
                	<ul>
                    <li>Trener personalny</li>
                	</ul>
              </div>
        </div>
 </div>
</template>
	
<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';

.about_header {
    margin: auto;
    text-align: center;
    h3 {
        margin-bottom: 75px;
    }
}

.about_photo {
	margin-top: 50px;
}

.about_boxes {
	margin-top: 75px;
	.about_box {
		margin-bottom: 50px;
		h2 {
			margin-bottom: 25px;
		}
	}
}

.about_me {
    margin: 75px 0;
}

.about_list {
    margin-bottom: 75px;
}

.coocking_discription {
    margin: 75px 0;
}

.sport_title {
	margin: 75px 0;
}

.sport_discrtiption {
	margin: auto;
}

.sport {
	margin-bottom: 75px;
}

.motivation_text {
	color: #A7D433;
	margin: 50px 0;
	text-align: center;
	.motivation_autor {
		text-align: right;
	}
}

</style>