<template>
  <div class="container">
		<div class="contact">
			<div class="col-md-12 contact_header">
				<h2>CHĘTNIE ODPOWIEM NA WSZYSTKIE TWOJE PYTANIA!</h2>
			</div>
			<div class="row">
				<div class="col-md-12 right_side">
					<form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName4">Imię</label>
                <input type="name" class="form-control" id="inputName4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nazwisko</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-group">
              <label for="inputRmail4">Email</label>
              <input type="Email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="input">Płeć</label>
                <input type="text" class="form-control" id="input">
              </div>
              <div class="form-group col-md-1">
                <label for="inputAge">Wiek</label>
                <input type="text" class="form-control" id="inputAge">
              </div>
              <div class="form-group col-md-1">
                <label for="input">Wzrost</label>
                <input type="text" class="form-control" id="input">
              </div>
              <div class="form-group col-md-1">
                <label for="input">Waga</label>
                <input type="text" class="form-control" id="input">
              </div>
              <div class="form-group col-md-7">
                <label for="inputAge">Interesująca Cię oferta</label>
                <input type="text" class="form-control" id="inputAge">
              </div>
            </div>
            <div class="form-group">
              <label for="comment">Wiadomość</label>
              <textarea class="form-control" rows="7" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
          </form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';

.contact_header {
	margin: 75px 0 50px;
	text-align: center;
}

button {
    margin-bottom: 75px;
    box-shadow: 0 12px 24px 0 rgba(35,69,182,0.24);
}
</style>