<template>
  <div class="container">
		<div class="dietician">
			<div class="col-md-12 dietician-header">
				<h2>DLACZEGO DIETETYK?</h2>
			</div>
			<div class="dietician-text">
				<p>Dietetyk jest specjalistą z obszaru ochrony zdrowia, którego domeną jest żywienie człowieka w 
					zdrowiu i w chorobie. Dietetyk zajmuje się żywieniem osób indywidualnych i żywieniem zbiorowym,
					 edukacją żywieniową społeczeństwa oraz promocją zdrowia. O dietetyku mówi się, że jest specjalistą
					  interdyscyplinarnym, bo posiada wiedzę także z zakresu anatomii, biochemii, medycyny i psychologii.</p>
				<p>Sport i odżywianie się w zdrowym stylu życia zawsze mi towarzyszyły. W życiu
					zawodowym zawsze chciałam robić coś nie tylko z pasją, ale coś, co będzie wiązało się z
					pomocą dla drugiej osoby. Uśmiech, radość i zadowolenie pacjenta z dobrze
					przeprowadzonej usługi to najlepsze co możesz otrzymać.
					Zastanawiałeś/łaś się kiedyś co czuje lekarz z dobrze przeprowadzonej operacji? Jakie
					towarzyszą mu emocje, gdy przychodzi do niego rodzina pacjenta z podziękowaniami?
					Przykładów nie trzeba szukać daleko. Na pewno każdy z was wręczył komuś prezent czy
					pomógł staruszce na ulicy. W odpowiedzi za te pozytywne czyny zyskałeś/łaś
					podziękowanie, uśmiech i zadowolenie. Jakie wtedy Tobie towarzyszyły emocje?</p>
			</div>
		</div>
		<div class="col-md-12 progress_text">
			<h4>Dieta odpowiada za 70% sukcesu! Regularne ćwiczenia to 30%.</h4>
		</div>
	<div class="progress">
  	<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
  	<div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
	</div>
	<div class="col-md-12 cooperation_content">
		<h2>JAK WYGLĄDA WSPÓŁPRACA?</h2>
	</div>
	<div class="box-container">
		<div class="row">
				<div class="col-md-3 box_one">
					<div class="box_header">
						<h4>KROK 1</h4>
					</div>
					<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
  						<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  						<path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>SKONTAKTUJ SIĘ</p>
					</div>
				</div>
				<div class="col-md-3 box_two">
					<div class="box_header">
						<h4>KROK 2</h4>
					</div>
						<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  						<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>WYBIERZ DIETĘ</p>
					</div>
				</div>
				<div class="col-md-3 box_tree">
					<div class="box_header">
						<h4>KROK 3</h4>
					</div>
					<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
  						<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  						<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>STOSUJ JĄ</p>
					</div>
				</div>
				<div class="col-md-3 box_four">
					<div class="box_header">
						<h4>KROK 4</h4>
					</div>
					<div class="box_svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
  						<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  						<path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
						</svg>
					</div>
					<div class="box_text">
						<p>CIESZ SIĘ ZDROWIEM</p>
					</div>
				</div>
		</div>
	</div>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';

svg {
	margin-bottom: 20px;
}

.dietician {
	margin-top: 75px;
}

.dietician-header {
	text-align: center;
	margin-bottom: 50px;	
}

.dietician-text {
	margin-bottom: 50px;
}

.progress_text {
	text-align: center;
	margin-bottom: 15px;
}

.cooperation_content {
	text-align: center;
}

.cooperation_content {
	h2 {
		margin-top: 75px;
		margin-bottom: 50px;
	}
}
.box-container {
	text-align: center;

	.box_one {
		background: #FFA554;
	}

	.box_two {
		background: #FE8543;
	
	}

	.box_tree {
		background: #A7D433;
	
	}

	.box_four {
		background: #01B4BD;
	
	}
	.box_header {
		h4 {
			margin-top: 40px;
			margin-bottom: 20px;
		}
	}
	.box_text {
		margin-bottom: 40px;
		font-weight: bold;
	}
}


</style>