<template>
	<footer>
 		<div class="container_footer">
     <div class="container">
      <div class="row">
        <div class="col-md-7 footer_left">
					<div class="footer_logo">
						<div>
						<img src="~/assets/images/logo.png">
						</div>
						<div>
						<h4>Marta Gąsiorowska</h4>
						<h6>Dietetyk i trener personalny</h6>
						</div>
						<p>"Cudem nie jest to, że skończyłem. Cudem jest to, że miałem odwagę zacząć." - <i>John Bingham</i></p>
					</div>
				</div>
        	<div class="col-md-2 footer_middle">
            <ul>
              <li><NuxtLink to="/">Home</NuxtLink></li>
              <li><NuxtLink to="/">O mnie</NuxtLink></li>
              <li><NuxtLink to="/">Przepisy</NuxtLink></li>
              <li><NuxtLink to="/">Trening</NuxtLink></li>
              <li><NuxtLink to="/">Oferta</NuxtLink></li>
              <li><NuxtLink to="/">Kontakt</NuxtLink></li>
            </ul>
          </div>
            <div class="col-md-3 footer_right">
							<div class="footer_right_header">
              	<h6>SKONTAKTUJ SIĘ</h6>
							</div>
							<div class="footer_svg">
								<a href="tel:1-562-867-5309"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  								<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg></a>
								<a href="mailto:adres e-mail"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  								<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
								</svg></a>
								<a href="https://www.facebook.com/messages/t/100003534104788"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  								<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
								</svg></a>
							</div>
            </div>
        </div>
     </div>
 		</div>
	</footer>
</template>
	
<script>
export default {}
</script>

<style lang="scss">

.container_footer {
  background: #A7D433;

	.footer_left {
		.footer_logo {
			img {
				margin-top: 40px;
				width: 45px;
			}
			h4 {
				margin: 0;
			}
			h6 {
				font-size: 12px;
			}
			p {
				margin-top: 20px;
				font-size: 22px;
			}
	
			@media screen and (max-width: 400px) {
				p {
					font-size: 16px;
    			} 
			} 
		}
	}

  .footer_middle {
    margin: 20px 0;
    ul {
      list-style: none;
      text-decoration: none;
      li {
        padding: 5px;    
        a {
          color: black;
                
        }
      }
    }
	@media screen and (max-width: 767px) {
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin: 0;
    	} 
	}  
	@media screen and (max-width: 400px) {
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin: 0;
			font-size: 10px;
    	} 
	} 
  }

	.footer_right {	
		.footer_right_header {
			margin-top: 25px;
			text-align: center;
		}
		a {
			svg {
				color: #000;
				display: grid;
				margin: 0 auto;
				margin-bottom: 25px;
				margin-top: 25px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		.footer_svg {
			display: flex;
			justify-content: space-evenly;
		}
	}

}
@import '~/assets/styles/base';
</style>