<template>
  <section class="hero">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 hero__main d-flex justify-content-center flex-column flex-wrap"
        >
          <h1>
            Dietetyk i trener personalny
            <span>Marta Gąsiorowska</span>
          </h1>

          <div class="hero__main-cta">
            <NuxtLink to="/">O mnie</NuxtLink>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <img src="~/assets/images/ja.jpg" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss">
@import "~/assets/styles/base";

.hero {
  &__main {
    background: $green;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      width: 300%;
      height: 100%;
      background: $green;
    }

    h1 {
      display: block;
      span {
        display: block;
        font-size: 25px;
      }
    }

    &-cta {
      margin-top: 30px;

      a {
        display: inline-block;
        @include btn;
      }
    }
  }
}
</style>
