<template>
    <div class="container">
			<div class="nav-content">
				<img src="~/assets/images/logo.png">
        <nav class="nav">
          <ul>
            <li><NuxtLink to="/">Home</NuxtLink></li>
            <li><NuxtLink to="/">O mnie</NuxtLink></li>
            <li><NuxtLink to="/">Przepisy</NuxtLink></li>
            <li><NuxtLink to="/">Trening</NuxtLink></li>
            <li><NuxtLink to="/">Oferta</NuxtLink></li>
            <li><NuxtLink to="/">Kontakt</NuxtLink></li>
          </ul>
      	</nav>
			</div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';


.nav-content {
  img {
	  width: 75px;
  }
} 

.nav {
  float: right;
  margin-top: 25px;

  li {
    display: inline;
    font-size: 20px;
    padding: 25px;

    a {
      color: black;
      text-decoration: none;
      text-align: right;
            
      &:hover {
        color: #A7D433;
      }
    }    
  }
}
</style>