<template>
  <div class="container">
		<div class="recipe_header">
			<h2>ZACZNIJ ZMIANĘ JUŻ DZIŚ Z MOIM PRZEPISEM TYGODNIA!</h2>
		</div>
		<div class="recipe_name">
			<h4>NAZWA DANIA</h4>
		</div>
		<div class="row">
			<div class="col-md-5 recipe_photo">
				<img src="~/assets/images/1.jpg" class = "img-responsive" width = "100%">
			</div>
			<div class="col-md-4 recipe_ingredients">
				<ul>
					<li>Woda gazowana (250ml)</li>
					<li>Mąka pszenna typu 500 (300g)</li>
					<li>2 jajka</li>
					<li>Szczypta soli</li>
					<li>Odrobina oliwy do podsmażenia</li>
					<li>Jagody (garść)</li>
					<li>Truskawki (3 sztuki)</li>
				</ul>
			</div>
			<div class="col-md-3 recipe_info">
				<div class="info">
					<h5>Trudność: 3/5</h5>
					<h5>Czas przygotowania: 45min</h5>
				</div>
				<div class="nutrients">
					<h5>Składniki odżywcze:</h5>
					<ul>
						<li>kcal: 470</li>
						<li>białko: 32</li>
						<li>węglowodany: 111</li>
						<li>węglowodany: 111</li>
						<li>węglowodany: 111</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 discription">
			<div class="recipe_name">
			<h4>OPIS PRZYGOTOWANIA</h4>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</template>
	
<script>
export default {}
</script>

<style lang="scss">
@import '~/assets/styles/base';

.recipe_header {
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
}

.recipe_name {
	text-align: center;
	margin-bottom: 75px;
}

.nutrients {
	margin-top: 40px;
	ul {
		list-style: none;
		padding-left: 0;
	}
}

.discription {
	margin-bottom: 75px;
	margin-top: 75px;
}
</style>